*.vo
*.vok
*.vos
*.v.d
*.glob
*.aux
*.out
*.html
*.cache
*.cm*
*.o
*.a
*.ml*.d
*.vok
*.vos
*.coq.d
Makefile.coq
Makefile.coq.conf
.coqdeps.d
.DS_Store
*.bak
Makefile.conf
Makefile.plugin.conf

theories/extraction/
src/extraction/

mycompiler
result
